.ingredient {
  text-align: center;
  position: relative;
  color: var(--text-primary-color);
}

.ingredient:hover {
  cursor: pointer;
  text-decoration: none;
}

.price {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
