.constructor-section {
  height: 100%;
  flex: 1;
}

.constructor-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.constructor-content--empty {
  border: 2px dashed #4c4cff;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.total-price {
  display: flex;
  align-items: center;
}
.total-icon {
  line-height: 0;
}

.total-icon svg {
  width: 33px;
  height: 33px;
}

.scroll-list {
  flex: 1;
  overflow: auto;
  margin-right: -10px;
  padding-right: 10px;
}
