::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585AD;;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  color: var(--colors-interface-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page {
  width: 100%;
  flex: 1 1 auto;
  height: calc(100vh - 88px);
}

.page--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-page {
  display: flex;
  flex-direction: column;
  /* align-items: s; */
  width: 480px;
  text-align: center;
}


.form-page .input {
  width: 100%;
}

.form-page .input__container {
  width: 100%;
}

.form-input .input {
  width: 100%;
}
.form-input .input__container {
  width: 100%;
}
